#header{
    height: 100vh;
    text-align: center;
    justify-content: center;
    background-image: url("../assets/backgrounds/h_img.jpg");
    background-size: cover;
    color: white;
}
.logo{
    margin-top: 7vh;
    margin-bottom: 5vh;
}
.mouse{
    margin-top: 20vh;
    margin-bottom: 3vh;
}
#about{
    margin-top: 5vh;
    margin-bottom: 5vh;
    justify-content: center;
    text-align: center;
}
#services{
    background-image: url("../assets/backgrounds/s_image.jpg");
    text-align: center;
    justify-content: center;
    color: white;
}
#activities{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#portfolio{
    margin-top: 5vh;
    margin-bottom: 5vh;

}
#contact{
    background-image: url("../assets/backgrounds/c_image.jpg");
    justify-content: center;
     margin-top: 10vh;
}
#contact h2{
    text-align: center;
    color:#FFF;
    margin-bottom:10vh;
    
}
#name{
    width: 100%;
    color: #FFF;
    background: transparent;
}
#email{
    width: 100%;
    color: #FFF;
    background: transparent;
}
#message{
    margin-top: 5vh;
    width: 100%;
    color: #FFF;
    background: transparent;
}
footer{
    text-align: center;
    justify-content: center;
}
.socials{
    margin-left: 30px;
}
.copyright{
    margin-top: 4vh;
}
#des-explainer{
    display: none;
}
#dev-explainer{
    display: none;
}
#pm-explainer{
    display: none;
}

#activities{
    text-align: center;
    justify-content: center;
}
